In [10]:
from pycaret.datasets import get_data
from pycaret.nlp import *

In [11]:
df_kiva = get_data('kiva')

print(df_kiva.shape)

,country,en,gender,loan_amount,nonpayment,sector,status
0,Dominican Republic,"""Banco Esperanza"" is a group of 10 women looki...",F,1225,partner,Retail,0
1,Dominican Republic,"""Caminemos Hacia Adelante"" or ""Walking Forward...",F,1975,lender,Clothing,0
2,Dominican Republic,"""Creciendo Por La Union"" is a group of 10 peop...",F,2175,partner,Clothing,0
3,Dominican Republic,"""Cristo Vive"" (""Christ lives"" is a group of 10...",F,1425,partner,Clothing,0
4,Dominican Republic,"""Cristo Vive"" is a large group of 35 people, 2...",F,4025,partner,Food,0

(6818, 7)

In [22]:
experiment = setup(data = df_kiva, target = 'en')

In [13]:
#lda_model = create_model('lda')

In [14]:
#evaluate_model(lda_model)

In [23]:
lda_tuned = tune_model("lda", supervised_target = 'status')

IntProgress(value=0, description='Processing: ', max=25)

Output()

In [16]:
lda_results = assign_model(lda_tuned)

lda_results.head()

,country,en,gender,loan_amount,nonpayment,sector,status,Topic_0,Topic_1,Dominant_Topic,Perc_Dominant_Topic
5932,Kenya,year old married child year old teacher profes...,F,1200.0,lender,Agriculture,1.0,NaN,NaN,NaN,NaN
3250,Ecuador,sell clothe accessory stare business help brot...,M,1200.0,partner,Retail,0.0,NaN,NaN,NaN,NaN
5323,Kenya,bear year ago marry child primary school pract...,F,75.0,lender,Agriculture,1.0,NaN,NaN,NaN,NaN
162,Dominican Republic,agueda live samana entire life child age husba...,F,925.0,partner,Clothing,0.0,0.998389,0.001611,Topic 0,1.0
248,Dominican Republic,densely populate community weekly trash pick e...,F,1075.0,lender,Health,0.0,0.999386,0.000614,Topic 0,1.0